Backend/Code_urja.json
{
  "name": "Code urja",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1460,
        2817.5
      ],
      "id": "4263af4e-539f-4aea-b9c0-861434316c2b",
      "name": "Webhook1",
      "webhookId": "626685c6-31f0-449a-8dba-b152eb196ecd"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -744,
        2817.5
      ],
      "id": "d127ffff-3624-4ee4-a0b8-33bee34ca2ef",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "5965d039-98b7-4fbf-9bc8-28979637cf52",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -1020,
        2060
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "7fdccbc4-dbed-428d-96ff-a587d789c80e",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        -372,
        2480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "id": "43729a52-bb2d-47c7-8abd-6ce281c7c84a",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        -460,
        2282.5
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "query": "={{ $json.body.message }}",
        "options": {}
      },
      "id": "30516e8d-f6c9-4034-9e8d-1ec8c6e8b2f8",
      "name": "Question and Answer Chain",
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "position": [
        -1224,
        2817.5
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "topK": 50
      },
      "id": "a38cdfb0-51bb-42f9-ba28-069d1d559987",
      "name": "Vector Store Retriever",
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "position": [
        -1120,
        3040
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "n8nfiles",
          "mode": "list",
          "cachedResultName": "n8nfiles"
        },
        "options": {}
      },
      "id": "02fda62c-c208-47bb-891a-734c1a8268dc",
      "name": "Read Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        -1120,
        3237.5
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8nfiles",
          "mode": "list",
          "cachedResultName": "n8nfiles"
        },
        "options": {
          "clearNamespace": true
        }
      },
      "id": "f143ba32-7254-4c6e-a465-dbf36a41d57a",
      "name": "Insert into Pinecone vector store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        -564,
        2060
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-flash-1.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1240,
        3037.5
      ],
      "id": "272e22a8-ccfb-4cde-a836-de1d082c7ae7",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {},
      "id": "88ade42c-8812-4b03-988a-6674a1d6336a",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1460,
        2060
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        -580,
        2280
      ],
      "id": "d43b81f7-e65f-48af-a7ab-0a212b71f0e4",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        -1032,
        3432.5
      ],
      "id": "e03d92b6-365d-4078-884e-691dc888d819",
      "name": "Embeddings Cohere1",
      "credentials": {
        "cohereApi": {
          "id": "",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1tGMZqhV0Nf4SfpUNh20Hg3mC_xD7mcND",
            "mode": "list",
            "cachedResultName": "Codeurja",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1tGMZqhV0Nf4SfpUNh20Hg3mC_xD7mcND"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1240,
        2060
      ],
      "id": "b21992ba-1487-405d-ad76-59ffb7fcc3f4",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -800,
        2060
      ],
      "id": "9b917998-e733-41b5-8af6-069baf57ce7e",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert into Pinecone vector store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Read Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Pinecone vector store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere1": {
      "ai_embedding": [
        [
          {
            "node": "Read Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Insert into Pinecone vector store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Pinecone vector store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1e16e9b1-fe31-4d08-b50e-1d72bdab6dcc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "943f9a054eee28676356e82892d6855368de13e11ba61349d23baad09fd63660"
  },
  "id": "00MV9Wn50R7WG3Qi",
  "tags": []
}